.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  flex: 1;
  width: 100%;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.digital {
  position: absolute;
  top: 48%;
  margin: 0 auto;
  font-size: 35px;
}

.face {
  fill: rgba(0, 0, 0, 0.05);
  stroke: rgba(0, 0, 0, 0.2);
  stroke-width: 1px;
  vector-effect: non-scaling-stroke; /* not sure this is a good idea because of compatibility */
}

.sunhand {
  fill: rgb(255, 196, 0);
  stroke: rgba(250, 171, 0, 0.966);
  stroke-width: 1px;
  vector-effect: non-scaling-stroke; /* not sure this is a good idea because of compatibility */
}
